@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
  --secondary: #831843;
  --menuhover: #a51f55;
  
  --card-bg: #fff;
  --brand-black: #000000;
  --brand-green: #059669;
  
  --halli-border: #E2E8F0;
  --text-muted: #a1a1aa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-menu-hover: var(--menuhover);
  --color-brand-black: var(--brand-black);
  --color-brand-green: var(--brand-green);
  --color-input-bg: var(--card-bg);
  --color-halli-border: var(--halli-border);
  --color-card: var(--card-bg);
  --color-muted: var(--text-muted);
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}